<html>
  <body>
    <div id="example">
      <div v-if="step === 1">
        <button @click="createLive">Create new Live</button>
      </div>
      <div v-if="step === 2">
        <p>Here is the created live ID: {{ live.id }}</p>
        <p>You need to use these values for starting a livestream:</p>
        <ul>
          <li>Stream URL: {{ live.stream_url }}</li>
          <li>Stream Key: {{ live.stream_key }}</li>
        </ul>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script>
        const APP_ID = "fb9065202ed64111b6f2e544a0c113a9";
        const API_KEY = "uap-fb9065202ed64111b6f2e544a0c113a9-8cb63884";
        new Vue({
            el: '#example',
            data: {
              step: 1,
              live: null
            },
            methods: {
              createLive() {
                
              }
            }
        })
    </script>
  </body>
</html>
